@model IEnumerable<FitnessProject.Web.Mvc.UserInfoModel>

@{
    ViewBag.Title = "UserInfo";
}

<h2>@User.Identity.Name</h2>
@Html.ActionLink("see user details", "AccountDetails")
<p>
    @Html.ActionLink("add new location", "GetAddress","Location")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaceName)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlaceName)
        </td>
       
        <td>
          
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
